a {
    color: black;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFE4B5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#second {
    border: 0px solid #bba990;
    padding: 8px;
    margin-left: 40%;
    margin-right: 30%;
    color: #000;
    font-family: serif;
    font-size: 40px;
    margin-top: 10px;
}

#first {
    border: 0px solid #bba990;
    padding: 8px;
    margin-left: 40%;
    margin-right: 30%;
    color: #000;
    font-family: serif;
    font-size: 70px;
    margin-top: 10px;
}

#therd {
    border: 0px solid #bba990;
    padding: 8px;
    margin-left: 45%;
    margin-right: 30%;
    color: #000;
    font-family: fantasy;
    font-size: 40px;
    margin-top: 10px;
}

.rt {
    border: 5px solid #bba990;
    background-color: #FFE4C9;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    word-spacing: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;;
}

.thumb img {
    border: 0px solid #55c5e9;
    padding: 1px;
    background: #666;
    margin-right: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.picture {
    margin-top: 50px;
}

.bubble {
    margin-left: 900px;
    margin-top: 20px;
    width: 300px;
    border-radius: 15px;
    border: 3px solid #1AA0D2;
    display: inline-block;
    position: relative;
}

.bubble::after {
    content: '';
    width: 39px;
    height: 50px;
    border-left: 3px solid #1AA0D2;
    border-bottom: 5px solid #1AA0D2;
    position: absolute;
    bottom: -20px;
    left: 40px;
    background: white;
    transform: skewX(-30deg) skewY(-48deg);
}

.bubble-in {
    border-radius: 12px;
    padding: 30px;
    background: white;
    position: relative;
    z-index: 2;
}

.imeg {
    margin-left: 650px;
}