body {
            background-color: floralwhite;
            mdisplay: table-cell;
            vertical-align: middle;
        }
        h1{
            border: 3px solid floralwhite;
            margin: 20px;
            width: 100px;
            font-size:190%;
            font-family: cursive;
            margin-left: auto;
            margin-right: auto;

        }
        div {
            background-color: PapayaWhip;
            border: 3px solid Moccasin;
            margin: 10px;
            width: 500px;
            padding: 10px;
            font-size:130%;
            margin-left: auto;
            margin-right: auto;
        }
        form {
            position:absolute;
            left: 40%;
            font-family: cursive;
            top: 30%;
            font-size: 20px;
        }
