<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login_registr.css') }}">
    <title>login</title>
</head>
<body>
<div class='form'>
    <form method="post">
        <div class="container">
            <h1>Вход</h1>
            <hr>
            <p>{{ error }}</p>
            <br>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Email" name="email" value="{{ email }}" required>
            <br>
            <br>
            <label for="psw"><b>Пароль</b></label>
            <input type="password" placeholder="Password" name="psw" required>
            <br>
            <br>
            <hr>
            <br>
            <button type="submit" class="registerbtn">Вход</button>
        </div>
    </form>
</div>
</body>
