<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Меню</title>
</head>
<body>
<h1 id="first">Fetrisa_toy</h1>

<h1 id="second">Добро пожаловать!</h1>

<div class="rt"><a href="/menu">Меню</a> <a
        href="/menu/toys/">Игрушки</a> <a href="/menu/backet/">Корзина</a> <a href="/menu/like/">Избранное</a>
    {% if not request.cookies.get('user')%}
    <a href="/menu/login/">Вход</a> <a
        href="/menu/registration/">Регистрация</a>
{% else %}
    <a href="/menu/logout/">Выход</a>
        <br>
        <a href="/menu/profil/">Профиль</a>
    {% endif %}
</div>
<div class="bubble">
    <div class="bubble-in">
    {{ message }}
    </div>
</div>
<div class="imeg">
<img src="/static/person.jpg" width="400"
                       height="400">
</div>
</div>
</div>
</body>
</html>