{% extends "base.html" %}

{% block body %}
    {# переменные из контекста используем с двойными фигурными скобками #}
    <h1>{{ title }}</h1>
    <form method="post">
        <h2>Добавьте новый фильм</h2>
        <label class="sign-in-form__label">Название:
            <input type="text" name="film" required minlength="1">
        </label>
        <br>
        <label class="sign-in-form__label">Страна:
            <input type="text" name="country" required minlength="1">
        </label>
        <br>
        <label class="sign-in-form__label">Рейтинг:
            <input type="text" name="rating" required minlength="1">
        </label>
        <br>
        <br>
        <input id="button" type="submit" value="Добавить" class="bad_submit" onclick="CheckPassword()">
    </form>
{% endblock %}