<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <style>
        .scale {
            transition: 1s;
        }

        .scale:hover {
            transform: scale(1.2);
        }
    </style>
    <title>Toys</title>
</head>
<body>
<h1 id="first">Fetrisa_toy</h1>
<div id="therd"><strong>Игрушки</strong></div>
<div class="rt"><a
        href="/menu">Меню</a> <a href="/menu/sets/">Наборы</a> <a href="/menu/process/">Процесс</a> <a
        href="/menu/backet/">Корзина</a> <a href="/menu/like/">Избранное</a>
    <form action="{{ url_for("toys") }}" method="post">
        <select name="filtr">
            <option value="None" selected>По умолчанию</option>
            <option value="price_little">По цене увеличения</option>
            <option value="price_big">По цене уменьшения</option>
            <option value="Es_gibt">По наличию</option>
        </select>
        <input type="submit" value="Фильтр" >
    </form>
</div>
<div class="picture">
    <p class="thumb">
        {% for product in products %}
            <img onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'"
                 src='{{ product.picture }}' alt="Упс"
                 width="300"
                 height="300"
                 class="scale"
            >
        {% endfor %}
    </p>
</div>
</body>
</html>