<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>Toys</title>
</head>
<body>
<h1 id="first">Fetrisa_toy</h1>
<div id="therd"><strong>Игрушки</strong></div>
<div class="rt"><a
        href="/menu">Меню</a> <a href="/menu/sets/">Наборы</a> <a href="/menu/process/">Процесс</a> <a href="/menu/backet/">Корзина</a>  <a href="/menu/like/">Избранное</a>
</div>
<div class="picture">
    <p class="thumb">
        {% for product in products %}
            <img onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'"
                    src='{{ product.picture }}' alt="Упс"
                    width="300"
                    height="300"
                    class="right"
            >
        {% endfor %}
    </p>
</div>
</body>
</html>